/* You can add global styles to this file, and also import other style files */
.heading{
    text-align: center;
    color:rgb(0, 252, 0);
    font-style:normal;
    font-size: 50px;
}

hr.line-break{
    background-color:rgb(0, 252, 0);
    height:2px;
    border: 1px solid rgb(0, 252, 0);
}
/**************************************/
body{
    background-color:black;
    min-height: 100vh;
    min-width: 100vw;
}
.container{
    display:flex;
    flex-direction:row;
    text-align: center;
    justify-content: center;
}
.container2{
    display:flex;
    justify-content: center;
}
/****************************************/
div.text-entry{
    text-align:center;

}
/****************************************/
label.book-cover{
    margin:35px;
    display: block;
    padding: 80px 15px ;
    border: 3px solid rgb(0, 252, 0);
}
input[type=file]{
    display:none;
}
input#button-submit {
    background-color: black;
    color:rgb(0, 252, 0);
    padding: 25px;
    margin: 20px;
    border: 3px solid rgb(0, 252, 0);
    cursor:pointer;
    font-weight:bold;
}
input#button-submit:hover{
    background-color: rgb(0, 252, 0);
    color:black;
    cursor:pointer
}
input#title{
    margin: 25px;
    padding: 40px;
    border: 3px solid rgb(0, 252, 0);
    background-color: black;
    color:rgb(0, 252, 0);
    font-size:larger;
}
input#author{
    margin:25px;
    padding: 40px;
    border: 3px solid rgb(0, 252, 0);
    background-color: black;
    color:rgb(0, 252, 0);
    font-size:larger;
}
/***************************************/
::placeholder{
    color:rgb(0, 252, 0);
}
/****************************************/
button.return-button{
    background-color: black;
    color:rgb(0, 252, 0);
    padding:10px;
    cursor: pointer;
    margin-left:45%;
    margin-top:5px;
    margin-bottom: 15px;
    border: 3px solid rgb(0, 252, 0);
}
button.return-button:hover{
    background-color: rgb(0, 252, 0);
    color:black;
    cursor:pointer;
    border: 3px solid rgb(0, 252, 0);
}
/****************************************/
button.table-button{
    /*margin-right: 5%;*/
    cursor:pointer;
    background-color: black;
    color:rgb(0, 252, 0);
    padding: 10px;
    border: 3px solid rgb(0, 252, 0);
}
.tables-portal {
    margin-left:90%;
}
button.table-button:hover {
    background-color: rgb(0, 252, 0);
    color:black;
    cursor:pointer;    
}
/****************************************/