<h2 class="heading" >CRUD API DB </h2>
<hr class="line-break">
<br>
<div class="tables-portal">
    <button class="table-button" routerLink="/tables">TABLES</button>
</div>

<form>
    <div class="container">
        <div class="image-entry">
            <label for="book-cover" class="book-cover"> UPLOAD BOOK COVER </label> <br>
            <input type="file" id="book-cover">
        </div>

        <div class="text-entry">
            <label for="title"> ENTER TITLE: </label> 
            <input type="text" id="title" placeholder="book title goes here...">
            <br>

            <label for="author"> AUTHOR NAME: </label>
            <input type="text" id="author" placeholder="author name goes here...">
        </div>
    </div>   
        
        <div class="container2">
            <input id="button-submit"type="submit" value="POST"> 
        </div>
    
</form>
